.DS_Store
/node_modules/
/dist/
.env
proxies.txt
*.csv
dump.rdb
/mongo-data
apps/api/.env.local

*.pyc
.rdb
/.venv

/apps/api/logs/*
/apps/api/debug/*

.vscode
llm-links.txt
mapped-links.txt
gke-key.json

CLAUDE.local.md

*.egg-info/

/apps/api/running-docs/


target/

.cursor/

# local files
_local/


apps/api/src/lib/scrape-interact/*.md